/.consign
base/.consign
doc/*.pdf
doc/.consign
latex2e-20150101/base/.consign
required/cyrillic/.consign
required/graphics/.consign
required/graphics/grfguide.pdf
required/tools/*.pdf
required/tools/.consign
support/.consign
