* text=auto !eol
base/00readme.txt -text
base/alltt.dtx -text
base/alltt.ins -text
base/autoload.ins -text
base/autoload.txt -text
base/bugs.txt -text
base/cfgguide.tex -text
base/changes.txt -text
base/classes.dtx -text
base/classes.ins -text
base/clsguide.tex -text
base/cmextra.ins -text
base/cmfonts.fdd -text
base/cmfonts.ins -text
base/cyrguide.tex -text
base/doc.dtx -text
base/docstrip.dtx -text
base/docstrip.ins -text
base/ec.ins -text
base/encguide.tex -text
base/exscale.dtx -text
base/exscale.ins -text
base/fixltx2e.dtx -text
base/fixltx2e.ins -text
base/fntguide.tex -text
base/fontdef.dtx -text
base/format.ins -text
base/graphpap.dtx -text
base/graphpap.ins -text
base/idx.tex -text
base/ifthen.dtx -text
base/ifthen.ins -text
base/inputenc.dtx -text
base/inputenc.ins -text
base/lablst.tex -text
base/latex209.dtx -text
base/latex209.ins -text
base/latexbug.el -text
base/latexbug.tex -text
base/latexsym.dtx -text
base/latexsym.ins -text
base/lb2.err -text
base/legal.txt -text
base/letter.dtx -text
base/letter.ins -text
base/lgc2.err -text
base/lppl-1-0.txt -text
base/lppl-1-1.txt -text
base/lppl-1-2.txt -text
base/lppl.tex -text
base/lppl.txt -text
base/ltalloc.dtx -text
base/ltbibl.dtx -text
base/ltboxes.dtx -text
base/ltclass.dtx -text
base/ltcntrl.dtx -text
base/ltcounts.dtx -text
base/ltdefns.dtx -text
base/ltdirchk.dtx -text
base/lterror.dtx -text
base/ltfiles.dtx -text
base/ltfinal.dtx -text
base/ltfloat.dtx -text
base/ltfntcmd.dtx -text
base/ltfssbas.dtx -text
base/ltfsscmp.dtx -text
base/ltfssdcl.dtx -text
base/ltfssini.dtx -text
base/ltfsstrc.dtx -text
base/lthyphen.dtx -text
base/ltidxglo.dtx -text
base/ltlength.dtx -text
base/ltlists.dtx -text
base/ltlogos.dtx -text
base/ltmath.dtx -text
base/ltmiscen.dtx -text
base/ltnews.cls -text
base/ltnews01.tex -text
base/ltnews02.tex -text
base/ltnews03.tex -text
base/ltnews04.tex -text
base/ltnews05.tex -text
base/ltnews06.tex -text
base/ltnews07.tex -text
base/ltnews08.tex -text
base/ltnews09.tex -text
base/ltnews10.tex -text
base/ltnews11.tex -text
base/ltnews12.tex -text
base/ltnews13.tex -text
base/ltnews14.tex -text
base/ltnews15.tex -text
base/ltnews16.tex -text
base/ltnews17.tex -text
base/ltnews18.tex -text
base/ltoutenc.dtx -text
base/ltoutenc.ins -text
base/ltoutput.dtx -text
base/ltpage.dtx -text
base/ltpageno.dtx -text
base/ltpar.dtx -text
base/ltpatch.ltx -text
base/ltpictur.dtx -text
base/ltplain.dtx -text
base/ltsect.dtx -text
base/ltspace.dtx -text
base/lttab.dtx -text
base/ltthm.dtx -text
base/ltvers.dtx -text
base/ltx3info.tex -text
base/ltxcheck.tex -text
base/ltxdoc.dtx -text
base/ltxguide.cls -text
base/ltxref.dtx -text
base/makeindx.dtx -text
base/makeindx.ins -text
base/manifest.txt -text
base/manual.err -text
base/minimal.cls -text
base/modguide.tex -text
base/newdc.ins -text
base/newlfont.dtx -text
base/nfssfont.dtx -text
base/nfssfont.ins -text
base/olddc.ins -text
base/oldlfont.dtx -text
base/patches.txt -text
base/preload.dtx -text
base/proc.dtx -text
base/proc.ins -text
base/sample2e.tex -text
base/slides.dtx -text
base/slides.ins -text
base/slifonts.fdd -text
base/small2e.tex -text
base/source2e.tex -text
base/syntonly.dtx -text
base/syntonly.ins -text
base/testpage.tex -text
base/tex2.txt -text
base/texpert.txt -text
base/tlc2.err -text
base/unpack.ins -text
base/usrguide.tex -text
base/utf8ienc.dtx -text
base/webcomp.err -text
