* text=auto !eol
/Construct -text
doc/Conscript -text
required/graphics/README -text
required/graphics/grfguide.ps -text
required/tools/Conscript -text
scripts/checktlg -text
scripts/log2tlg -text
scripts/maketlg -text
scripts/run-tex -text
support/UShyphen.tex -text
support/hyphen.cfg -text
support/pdflatex.ini -text
support/pdftexconfig.tex -text
support/texsys.cfg -text
testfiles/Conscript -text
testfiles/addcontents.tex -text
testfiles/euscript.sty -text
testfiles/german.sty -text
testfiles/test209.tex -text
testfiles/test2e.tex -text
testfiles/tl2e1.lvt -text
testfiles/tl2e1.tlg -text
testfiles/tl2e2.lvt -text
testfiles/tl2e2.tlg -text
testfiles/tl2e3.lvt -text
testfiles/tl2e3.tlg -text
testfiles/tl2e4.lvt -text
testfiles/tl2e4.tlg -text
testfiles/tl2e5.lvt -text
testfiles/tl2e5.tlg -text
testfiles/tl2e6.lvt -text
testfiles/tl2e6.tlg -text
testfiles/tl2e7.lvt -text
testfiles/tl2e7.tlg -text
testfiles/tlb0001.lvt -text
testfiles/tlb0001.tlg -text
testfiles/tlb0002a.lvt -text
testfiles/tlb0002a.tlg -text
testfiles/tlb0002b.lvt -text
testfiles/tlb0002b.tlg -text
testfiles/tlb0002c.lvt -text
testfiles/tlb0002c.tlg -text
testfiles/tlb0002d.lvt -text
testfiles/tlb0002d.tlg -text
testfiles/tlb0009.lvt -text
testfiles/tlb0009.tlg -text
testfiles/tlb0010.lvt -text
testfiles/tlb0010.tlg -text
testfiles/tlb0013.lvt -text
testfiles/tlb0014.lvt -text
testfiles/tlb0014.tlg -text
testfiles/tlb0018.lvt -text
testfiles/tlb0018.tlg -text
testfiles/tlb0021.lvt -text
testfiles/tlb0021.tlg -text
testfiles/tlb0024.lvt -text
testfiles/tlb0024.tlg -text
testfiles/tlb0026.lvt -text
testfiles/tlb0026.tlg -text
testfiles/tlb0027a.lvt -text
testfiles/tlb0027a.tlg -text
testfiles/tlb0027b.lvt -text
testfiles/tlb0027b.tlg -text
testfiles/tlb0028.lvt -text
testfiles/tlb0028.tlg -text
testfiles/tlb0039.lvt -text
testfiles/tlb0039.tlg -text
testfiles/tlb0049.lvt -text
testfiles/tlb0049.tlg -text
testfiles/tlb0056.lvt -text
testfiles/tlb0056.tlg -text
testfiles/tlb0057.lvt -text
testfiles/tlb0057.tlg -text
testfiles/tlb0063.lvt -text
testfiles/tlb0063.tlg -text
testfiles/tlb0073.lvt -text
testfiles/tlb0073.tlg -text
testfiles/tlb0077.lvt -text
testfiles/tlb0077.tlg -text
testfiles/tlb0084.lvt -text
testfiles/tlb0084.tlg -text
testfiles/tlb0105.lvt -text
testfiles/tlb0105.tlg -text
testfiles/tlb0109.lvt -text
testfiles/tlb0109.tlg -text
testfiles/tlb0130.lvt -text
testfiles/tlb0130.tlg -text
testfiles/tlb0143.lvt -text
testfiles/tlb0143.tlg -text
testfiles/tlb0150.lvt -text
testfiles/tlb0150.tlg -text
testfiles/tlb0152.lvt -text
testfiles/tlb0152.tlg -text
testfiles/tlb0162.lvt -text
testfiles/tlb0162.tlg -text
testfiles/tlb0171.lvt -text
testfiles/tlb0171.tlg -text
testfiles/tlb0202.lvt -text
testfiles/tlb0202.tlg -text
testfiles/tlb0203.lvt -text
testfiles/tlb0203.tlg -text
testfiles/tlb0230.lvt -text
testfiles/tlb0230.tlg -text
testfiles/tlb0250.lvt -text
testfiles/tlb0250.tlg -text
testfiles/tlb0264.lvt -text
testfiles/tlb0264.tlg -text
testfiles/tlb0268.lvt -text
testfiles/tlb0268.tlg -text
testfiles/tlb0320.lvt -text
testfiles/tlb0320.tlg -text
testfiles/tlb0327.lvt -text
testfiles/tlb0327.tlg -text
testfiles/tlb0372.lvt -text
testfiles/tlb0372.tlg -text
testfiles/tlb0375.lvt -text
testfiles/tlb0375.tlg -text
testfiles/tlb0376.lvt -text
testfiles/tlb0376.tlg -text
testfiles/tlb0380.lvt -text
testfiles/tlb0380.tlg -text
testfiles/tlb0406.lvt -text
testfiles/tlb0406.tlg -text
testfiles/tlb0427.lvt -text
testfiles/tlb0427.tlg -text
testfiles/tlb0435.lvt -text
testfiles/tlb0435.tlg -text
testfiles/tlb0438.lvt -text
testfiles/tlb0438.tlg -text
testfiles/tlb0446.lvt -text
testfiles/tlb0446.tlg -text
testfiles/tlb0462.lvt -text
testfiles/tlb0480.lvt -text
testfiles/tlb0480.tlg -text
testfiles/tlb0483.lvt -text
testfiles/tlb0483.tlg -text
testfiles/tlb0498.lvt -text
testfiles/tlb0498.tlg -text
testfiles/tlb0509.lvt -text
testfiles/tlb0509.tlg -text
testfiles/tlb0549.lvt -text
testfiles/tlb0549.tlg -text
testfiles/tlb0552.lvt -text
testfiles/tlb0552.tlg -text
testfiles/tlb0554.lvt -text
testfiles/tlb0554.tlg -text
testfiles/tlb0557.lvt -text
testfiles/tlb0557.tlg -text
testfiles/tlb0560.lvt -text
testfiles/tlb0560.tlg -text
testfiles/tlb0574.lvt -text
testfiles/tlb0574.tlg -text
testfiles/tlb0577a.lvt -text
testfiles/tlb0577a.tlg -text
testfiles/tlb0577b.lvt -text
testfiles/tlb0577b.tlg -text
testfiles/tlb0610.lvt -text
testfiles/tlb0610.tlg -text
testfiles/tlb0613.lvt -text
testfiles/tlb0613.tlg -text
testfiles/tlb0642.lvt -text
testfiles/tlb0642.tlg -text
testfiles/tlb0655.lvt -text
testfiles/tlb0655.tlg -text
testfiles/tlb0667.lvt -text
testfiles/tlb0667.tlg -text
testfiles/tlb0694.lvt -text
testfiles/tlb0694.tlg -text
testfiles/tlb0747.lvt -text
testfiles/tlb0747.tlg -text
testfiles/tlb0759.lvt -text
testfiles/tlb0759.tlg -text
testfiles/tlb0830.lvt -text
testfiles/tlb0830.tlg -text
testfiles/tlb0848.lvt -text
testfiles/tlb0848.tlg -text
testfiles/tlb0878a.lvt -text
testfiles/tlb0878a.tlg -text
testfiles/tlb0878b.lvt -text
testfiles/tlb0878b.tlg -text
testfiles/tlb0881.lvt -text
testfiles/tlb0881.tlg -text
testfiles/tlb0884.lvt -text
testfiles/tlb0884.tlg -text
testfiles/tlb0942.lvt -text
testfiles/tlb0942.tlg -text
testfiles/tlb0985.lvt -text
testfiles/tlb0985.tlg -text
testfiles/tlb1020.lvt -text
testfiles/tlb1020.tlg -text
testfiles/tlb1026.lvt -text
testfiles/tlb1026.tlg -text
testfiles/tlb1042.lvt -text
testfiles/tlb1042.tlg -text
testfiles/tlb1061.lvt -text
testfiles/tlb1061.tlg -text
testfiles/tlb1135.lvt -text
testfiles/tlb1135.tlg -text
testfiles/tlb1144.lvt -text
testfiles/tlb1144.tlg -text
testfiles/tlb1180.lvt -text
testfiles/tlb1180.tlg -text
testfiles/tlb1184.lvt -text
testfiles/tlb1184.tlg -text
testfiles/tlb1202.lvt -text
testfiles/tlb1202.tlg -text
testfiles/tlb1214.lvt -text
testfiles/tlb1214.tlg -text
testfiles/tlb1217.lvt -text
testfiles/tlb1217.tlg -text
testfiles/tlb1233.lvt -text
testfiles/tlb1233.tlg -text
testfiles/tlb1315.lvt -text
testfiles/tlb1315.tlg -text
testfiles/tlb1352.lvt -text
testfiles/tlb1352.tlg -text
testfiles/tlb1369.lvt -text
testfiles/tlb1369.tlg -text
testfiles/tlb1378.lvt -text
testfiles/tlb1378.tlg -text
testfiles/tlb1379.lvt -text
testfiles/tlb1379.tlg -text
testfiles/tlb1388.lvt -text
testfiles/tlb1388.tlg -text
testfiles/tlb1451.lvt -text
testfiles/tlb1451.tlg -text
testfiles/tlb1487.lvt -text
testfiles/tlb1487.tlg -text
testfiles/tlb1498.lvt -text
testfiles/tlb1498.tlg -text
testfiles/tlb1503.lvt -text
testfiles/tlb1503.tlg -text
testfiles/tlb1514.lvt -text
testfiles/tlb1514.tlg -text
testfiles/tlb1519.lvt -text
testfiles/tlb1519.tlg -text
testfiles/tlb1521.lvt -text
testfiles/tlb1521.tlg -text
testfiles/tlb1545.lvt -text
testfiles/tlb1545.tlg -text
testfiles/tlb1571.lvt -text
testfiles/tlb1571.tlg -text
testfiles/tlb1573.lvt -text
testfiles/tlb1573.tlg -text
testfiles/tlb1578a.lvt -text
testfiles/tlb1578a.tlg -text
testfiles/tlb1578b.lvt -text
testfiles/tlb1578b.tlg -text
testfiles/tlb1578c.lvt -text
testfiles/tlb1578c.tlg -text
testfiles/tlb1578d.lvt -text
testfiles/tlb1578d.tlg -text
testfiles/tlb1596.lvt -text
testfiles/tlb1596.tlg -text
testfiles/tlb1612.lvt -text
testfiles/tlb1612.tlg -text
testfiles/tlb1621.lvt -text
testfiles/tlb1621.tlg -text
testfiles/tlb1622.lvt -text
testfiles/tlb1622.tlg -text
testfiles/tlb1634.lvt -text
testfiles/tlb1634.tlg -text
testfiles/tlb1638.lvt -text
testfiles/tlb1638.tlg -text
testfiles/tlb1647.lvt -text
testfiles/tlb1647.tlg -text
testfiles/tlb1664.lvt -text
testfiles/tlb1664.tlg -text
testfiles/tlb1683.lvt -text
testfiles/tlb1683.tlg -text
testfiles/tlb1684.lvt -text
testfiles/tlb1684.tlg -text
testfiles/tlb1722.lvt -text
testfiles/tlb1722.tlg -text
testfiles/tlb1738.lvt -text
testfiles/tlb1738.tlg -text
testfiles/tlb1764.lvt -text
testfiles/tlb1764.tlg -text
testfiles/tlb1771.lvt -text
testfiles/tlb1771.tlg -text
testfiles/tlb1783a.lvt -text
testfiles/tlb1783a.tlg -text
testfiles/tlb1783b.lvt -text
testfiles/tlb1783b.tlg -text
testfiles/tlb1789.lvt -text
testfiles/tlb1789.tlg -text
testfiles/tlb1794.lvt -text
testfiles/tlb1794.tlg -text
testfiles/tlb1816.lvt -text
testfiles/tlb1816.tlg -text
testfiles/tlb1826.lvt -text
testfiles/tlb1826.tlg -text
testfiles/tlb1828.lvt -text
testfiles/tlb1828.tlg -text
testfiles/tlb1842.lvt -text
testfiles/tlb1873.lvt -text
testfiles/tlb1873.tlg -text
testfiles/tlb1876.lvt -text
testfiles/tlb1876.tlg -text
testfiles/tlb1893.lvt -text
testfiles/tlb1893.tlg -text
testfiles/tlb1895.lvt -text
testfiles/tlb1895.tlg -text
testfiles/tlb1903.lvt -text
testfiles/tlb1903.tlg -text
testfiles/tlb1909.lvt -text
testfiles/tlb1915.lvt -text
testfiles/tlb1915.tlg -text
testfiles/tlb1944.lvt -text
testfiles/tlb1944.tlg -text
testfiles/tlb2004.lvt -text
testfiles/tlb2004.tlg -text
testfiles/tlb2024.lvt -text
testfiles/tlb2024.tlg -text
testfiles/tlb2048.lvt -text
testfiles/tlb2048.tlg -text
testfiles/tlb2049.lvt -text
testfiles/tlb2049.tlg -text
testfiles/tlb2054.lvt -text
testfiles/tlb2054.tlg -text
testfiles/tlb2104.lvt -text
testfiles/tlb2104.tlg -text
testfiles/tlb2105.lvt -text
testfiles/tlb2105.tlg -text
testfiles/tlb2131.lvt -text
testfiles/tlb2131.tlg -text
testfiles/tlb2133.lvt -text
testfiles/tlb2133.tlg -text
testfiles/tlb2138.lvt -text
testfiles/tlb2138.tlg -text
testfiles/tlb2140.lvt -text
testfiles/tlb2140.tlg -text
testfiles/tlb2145.lvt -text
testfiles/tlb2145.tlg -text
testfiles/tlb2149.lvt -text
testfiles/tlb2149.tlg -text
testfiles/tlb2153.lvt -text
testfiles/tlb2153.tlg -text
testfiles/tlb2153a.lvt -text
testfiles/tlb2153a.tlg -text
testfiles/tlb2153b.lvt -text
testfiles/tlb2153b.tlg -text
testfiles/tlb2153c.lvt -text
testfiles/tlb2153c.tlg -text
testfiles/tlb2157.lvt -text
testfiles/tlb2157.tlg -text
testfiles/tlb2183.lvt -text
testfiles/tlb2203.lvt -text
testfiles/tlb2203.tlg -text
testfiles/tlb2212.lvt -text
testfiles/tlb2212.tlg -text
testfiles/tlb2400.lvt -text
testfiles/tlb2400.tlg -text
testfiles/tlb2404.lvt -text
testfiles/tlb2404.tlg -text
testfiles/tlb2432.lvt -text
testfiles/tlb2432.tlg -text
testfiles/tlb2489.lvt -text
testfiles/tlb2489.tlg -text
testfiles/tlb2499.lvt -text
testfiles/tlb2499.tlg -text
testfiles/tlb2529.lvt -text
testfiles/tlb2529.tlg -text
testfiles/tlb2558.lvt -text
testfiles/tlb2558.tlg -text
testfiles/tlb2563.lvt -text
testfiles/tlb2563.tlg -text
testfiles/tlb2581.lvt -text
testfiles/tlb2581.tlg -text
testfiles/tlb2583.lvt -text
testfiles/tlb2583.tlg -text
testfiles/tlb2608.lvt -text
testfiles/tlb2608.tlg -text
testfiles/tlb2642.lvt -text
testfiles/tlb2649.lvt -text
testfiles/tlb2649.tlg -text
testfiles/tlb2661.lvt -text
testfiles/tlb2661.tlg -text
testfiles/tlb2727.lvt -text
testfiles/tlb2727.tlg -text
testfiles/tlb2783.lvt -text
testfiles/tlb2783.tlg -text
testfiles/tlb2815.lvt -text
testfiles/tlb2968.lvt -text
testfiles/tlb2968.tlg -text
testfiles/tlb3073.lvt -text
testfiles/tlb3073.tlg -text
testfiles/tlb3104.lvt -text
testfiles/tlb3104.tlg -text
testfiles/tlb3473.lvt -text
testfiles/tlb3473.tlg -text
testfiles/tlb3480.lvt -text
testfiles/tlb3480.tlg -text
testfiles/tlb3492.lvt -text
testfiles/tlb3492.tlg -text
testfiles/tlb3693.lvt -text
testfiles/tlb3693.tlg -text
testfiles/tlb3752.lvt -text
testfiles/tlb3752.tlg -text
testfiles/tlb3752e.lvt -text
testfiles/tlb3752e.tlg -text
testfiles/tlb3975.lvt -text
testfiles/tlb3975.tlg -text
testfiles/tlcs01a.lvt -text
testfiles/tlcs01a.tlg -text
testfiles/tlcs01b.lvt -text
testfiles/tlcs01b.tlg -text
testfiles/tlcs01l.lvt -text
testfiles/tlcs01l.tlg -text
testfiles/tlcs01p.lvt -text
testfiles/tlcs01p.tlg -text
testfiles/tlcs01r.lvt -text
testfiles/tlcs01r.tlg -text
testfiles/tlcs02.lvt -text
testfiles/tlcs02.tlg -text
testfiles/tlcs03.lvt -text
testfiles/tlcs03.tlg -text
testfiles/tlcs03a.lvt -text
testfiles/tlcs03a.tlg -text
testfiles/tlcs03b.lvt -text
testfiles/tlcs03b.tlg -text
testfiles/tlcs03r.lvt -text
testfiles/tlcs03r.tlg -text
testfiles/tlcs04a.lvt -text
testfiles/tlcs04a.tlg -text
testfiles/tlcs04b.lvt -text
testfiles/tlcs04b.tlg -text
testfiles/tlcs04r.lvt -text
testfiles/tlcs04r.tlg -text
testfiles/tlcs05s.lvt -text
testfiles/tlcs05s.tlg -text
testfiles/tlcs06a.lvt -text
testfiles/tlcs06a.tlg -text
testfiles/tlcs06b.lvt -text
testfiles/tlcs06b.tlg -text
testfiles/tlcs06r.lvt -text
testfiles/tlcs06r.tlg -text
testfiles/tlcs07a0.lvt -text
testfiles/tlcs07a0.tlg -text
testfiles/tlcs07a1.lvt -text
testfiles/tlcs07a1.tlg -text
testfiles/tlcs07a2.lvt -text
testfiles/tlcs07a2.tlg -text
testfiles/tlcs07b0.lvt -text
testfiles/tlcs07b0.tlg -text
testfiles/tlcs07b1.lvt -text
testfiles/tlcs07b1.tlg -text
testfiles/tlcs07b2.lvt -text
testfiles/tlcs07b2.tlg -text
testfiles/tlcs07r0.lvt -text
testfiles/tlcs07r0.tlg -text
testfiles/tlcs07r1.lvt -text
testfiles/tlcs07r1.tlg -text
testfiles/tlcs07r2.lvt -text
testfiles/tlcs07r2.tlg -text
testfiles/tlcs08.lvt -text
testfiles/tlcs08.tlg -text
testfiles/tltc001.lvt -text
testfiles/tltc001.tlg -text
testfiles/tltc002.lvt -text
testfiles/tltc002.tlg -text
testfiles/tltx001.lvt -text
testfiles/tltx001.tlg -text
testfiles/tltx002.lvt -text
testfiles/tltx002.tlg -text
testfiles/tltx003.lvt -text
testfiles/tltx003.tlg -text
testfiles/tltx004.lvt -text
testfiles/tltx004.tlg -text
testfiles/tltx005.lvt -text
testfiles/tltx005.tlg -text
testfiles/tlxs01a.lvt -text
testfiles/tlxs01a.tlg -text
testfiles/tlxs01b.lvt -text
testfiles/tlxs01b.tlg -text
testfiles/tlxs01l.lvt -text
testfiles/tlxs01l.tlg -text
testfiles/tlxs01p.lvt -text
testfiles/tlxs01p.tlg -text
testfiles/tlxs01r.lvt -text
testfiles/tlxs01r.tlg -text
testfiles/tlxs02.lvt -text
testfiles/tlxs02.tlg -text
testfiles/tlxs03.lvt -text
testfiles/tlxs03.tlg -text
testfiles/tlxs03a.lvt -text
testfiles/tlxs03a.tlg -text
testfiles/tlxs03b.lvt -text
testfiles/tlxs03b.tlg -text
testfiles/tlxs03r.lvt -text
testfiles/tlxs03r.tlg -text
testfiles/tlxs04a.lvt -text
testfiles/tlxs04a.tlg -text
testfiles/tlxs04b.lvt -text
testfiles/tlxs04b.tlg -text
testfiles/tlxs04r.lvt -text
testfiles/tlxs04r.tlg -text
testfiles/tlxs05s.lvt -text
testfiles/tlxs05s.tlg -text
testfiles/tlxs06a.lvt -text
testfiles/tlxs06a.tlg -text
testfiles/tlxs06b.lvt -text
testfiles/tlxs06b.tlg -text
testfiles/tlxs06r.lvt -text
testfiles/tlxs06r.tlg -text
testfiles/tlxs07a0.lvt -text
testfiles/tlxs07a0.tlg -text
testfiles/tlxs07a1.lvt -text
testfiles/tlxs07a1.tlg -text
testfiles/tlxs07a2.lvt -text
testfiles/tlxs07a2.tlg -text
testfiles/tlxs07b0.lvt -text
testfiles/tlxs07b0.tlg -text
testfiles/tlxs07b1.lvt -text
testfiles/tlxs07b1.tlg -text
testfiles/tlxs07b2.lvt -text
testfiles/tlxs07b2.tlg -text
testfiles/tlxs07r0.lvt -text
testfiles/tlxs07r0.tlg -text
testfiles/tlxs07r1.lvt -text
testfiles/tlxs07r1.tlg -text
testfiles/tlxs07r2.lvt -text
testfiles/tlxs07r2.tlg -text
testfiles/tlxs08.lvt -text
testfiles/tlxs08.tlg -text
testfiles/tlxs09.lvt -text
testfiles/tlxs09.tlg -text
testfiles/tnfss1.lvt -text
testfiles/tnfss1.tlg -text
testfiles/tnfss2.lvt -text
testfiles/tnfss2.tlg -text
testfiles/tnfss3.lvt -text
testfiles/tnfss3.tlg -text
testfiles/tnfss4.lvt -text
testfiles/tnfss4.tlg -text
testfiles/tnfss5.lvt -text
testfiles/tnfss5.tlg -text
testfiles/tnfss6.lvt -text
testfiles/tnfss6.tlg -text
testfiles/tnfss7.lvt -text
testfiles/tnfss7.tlg -text
testfiles/ueus.fd -text
testfiles/vlatex01.bbl -text
testfiles/vlatex01.lvt -text
testfiles/vlatex01.tlg -text
testfiles/vlatex02.lvt -text
testfiles/vlatex02.tlg -text
testfiles/vlatex03.lvt -text
testfiles/vlatex03.tlg -text
testfiles/vlatex04.lvt -text
testfiles/vlatex04.tlg -text
testfiles/vlatex05.lvt -text
testfiles/vlatex05.tlg -text
testfiles/vlatex06.lvt -text
testfiles/vlatex06.tlg -text
testfiles/vlatex07.lvt -text
testfiles/vlatex07.tlg -text
testfiles/vtl2e01.bbl -text
testfiles/vtl2e01.lvt -text
testfiles/vtl2e01.tlg -text
testfiles/vtl2e02.lvt -text
testfiles/vtl2e02.tlg -text
testfiles/vtl2e03.lvt -text
testfiles/vtl2e03.tlg -text
testfiles/vtl2e04.lvt -text
testfiles/vtl2e04.tlg -text
testfiles/vtl2e05.lvt -text
testfiles/vtl2e05.tlg -text
testfiles/vtl2e06.lvt -text
testfiles/vtl2e06.tlg -text
testfiles/vtl2e07.lvt -text
testfiles/vtl2e07.tlg -text
