*.*#
*.*~
*.aux
*.fdb_latexmk
*.fls
*.glo
*.log
*.out
*.synctex.gz
*.toc
*.zip
base/*/*.pdf
build/
install-new-tlg-versions.sh
replace-string.sh
required/*/*.pdf
*.toc31

!.github/tl_packages

# Do not upload any files starting with ignored (allows to have local ignore...lvt etc

ignored*
