name: 'Mark stale issues and PRs'
on:
  schedule:
    - cron: '7 8 * * *'

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          # Number of days of inactivity before an issue becomes stale
          days-before-stale: 60
          # Number of days of inactivity before a stale issue is closed
          days-before-close: -1
          # Issues with these labels will never be considered stale
          exempt-issue-labels: 'pinned,long-term,fixed in dev,font-issue'
          exempt-pr-labels: 'pinned,long-term,fixed in dev'
          # Label to use when marking an issue as stale
          stale-issue-label: stale
          # Comment to post when marking an issue as stale. Set to `false` to disable
          stale-issue-message: >
            This issue has been automatically marked as stale because it has not had
            recent activity.
          stale-pr-message: >
            This PR has been automatically marked as stale because it has not had
            recent activity.
